* {
    font-family: monospace;
    font-weight: 600;
}
.container {
    padding: 10px;
    background-color: rgb(54, 49, 49);
    width: 35%;
    height: 260px;
    text-align: center;
    border-radius: 5%;
    color: yellow;
}
.container input {
    margin: 5px;
    width: 80%;
    background-color: rgb(110, 99, 99);
    height: 30px;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    color: black;
}
span {
    margin: 15px;
    display: block;
}
input[type="submit"]{
    background-color: yellow;
}
input::placeholder, span {
    color: rgb(237, 239, 230);
}